.container {
  /* 1140px */
  max-width: 96rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2.4rem;
  background: #f1f3f5;
}

table {
  width: 100%;
  /* margin: 100px auto 0 auto; */
  /* margin: 100px auto; */
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 18px;
  margin-top: 2.4rem;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 12px 16px;
  text-align: left;
}

.title-column {
  width: 60%;
}

.id-column {
  width: 3.2rem;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-top: 2.4rem;
  padding: 0.8rem 0;
  background-color: #ced4da;
}

.pagination__btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  padding: 0.8rem;
  border: 1px solid #087f5b;
  background-color: #fff;
  cursor: pointer;
}

.pagination__btn:any-link,
.pagination__btn:visited,
.pagination__dots {
  text-decoration: none;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  stroke: #087f5b;
}

.pagination__btn:hover,
.pagination__btn:active,
.pagination__dots:hover,
.pagination__btn.pagination__page--active {
  background-color: #087f5b;
  color: #fff;
}
.pagination__btn:hover {
  background-color: #087f5b;
}

.pagination__btn:hover .nav {
  stroke: #fff;
}

.pagination__stage {
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.8rem;
  border: 1px solid #087f5b;
  background-color: #fff;
  cursor: pointer;
}

.pagination__stage svg {
  stroke: #fff;
}
